[submodule "Svartalfheim"]
	path = Svartalfheim
	url = ../Svartalfheim.git
	branch = master
[submodule "Asgard"]
	path = Asgard
	url = ../Asgard.git
	branch = master
[submodule "Midgard"]
	path = Midgard
	url = ../Midgard.git
	branch = master
[submodule "Yggdrasil"]
	path = Yggdrasil
	url = ../Yggdrasil.git
	branch = master
[submodule "Glitnir"]
	path = Glitnir
	url = ../Glitnir.git
	branch = master
[submodule "Urdarbrunnr"]
	path = Urdarbrunnr
	url = ../Urdarbrunnr.git
	branch = master
[submodule "Himinbjorg"]
	path = Himinbjorg
	url = ../Himinbjorg.git
	branch = master
[submodule "Heimdall"]
	path = Heimdall
	url = ../Heimdall.git
	branch = master
[submodule "Naglfar"]
	path = Naglfar
	url = ../Naglfar.git
	branch = master
[submodule "Ratatoskr"]
	path = Ratatoskr
	url = ../Ratatoskr
	branch = master
